.news {
  max-width: 350px;
  min-height: 429px;
  padding: 0 28px 29px 25px;

  background-color: #d9d9d9;
}

.news-name {
  padding: 17px 0 15px 0;
  text-align: center;
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}
